#FAQ {
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 1.6em;
  }
  .picture {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-size: cover !important;

    div {
      top: 20%;
      font-size: 20px;
    }
  }

  .row {
    margin: 0 !important;
    padding: 0 !important;

    &:first-child {
      margin-top: 3.4rem !important;
    }

    &:nth-child(2) {
      background-color: #efeeee;
    }

    &:nth-child(3) {
      padding: 10% !important;
      background-color: #efeeee;
    }
  }

  .FAQtitle {
    padding: 8% 0;
    svg {
      .fil0 {
        fill: #6F706F;
      }
    }
    h5{
      color: #acadad;
    }
  }

  .AllCollapses {
    margin-bottom: 12%;
  }

  .row:nth-child(3) {
    .svg {
      .fil0 {
        fill: #6F706F;
      }
    }

    h6{
      color: #686868 !important;
    }

    .btn {
      color: #686868 !important;
      border-color: #686868 !important;

      &:hover {
        background-color: #ED3237 !important;
        border-color: #ED3237 !important;
      }

      &:hover > a {
        text-decoration: none;
        color: white !important;
      }

      a {
        color: #686868 !important;
      }
    }
  }
}