

.DocxSlider{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    width: 100%;
    height: 20%;
    background: red;
 //   margin-top: 3rem;
    margin-top: 3.5rem;
    #carouselIndicators{
        margin: 0 auto;
        display: inline-block;
        width: 100%;
        height: 100px;
        text-align: center;
        .carousel-inner{
            display: flex ;
            margin: 0 auto;
            width: 50%;
            text-align: center;

            .item {
                width: 25%;
                height: 100px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 5px;
                margin-left: 5px;
                display: inline-block;
                width: 100px;
                height: 100px;

                    svg {
                        &.First{
                            width: 100px;
                            height: 100px;
                            display: block;
                            fill: white;
                            path{
                                &.fil0{
                                    fill:#fff;
                                }
                            }
                       }
                       &.Second {
                            width: 100px;
                            height: 100px;
                            display: block;
                       }

                       &.Third{
                           width: 100px;
                           height: 100px;
                           display: block;
                       }
                    }
            }
        }
    }

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-prev {
    position: absolute;
    left: unset;
    display: block;
    right: 5%;
    top: 28%;
    line-height: 6;
     height: 50%;
    width: 3em;
    background-image: url("../../public/svg/LeftArrow.svg");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 62%;
    background-size: 40%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    z-index: 0;
    &:focus{
        background-color: white;

    }
    &:hover{

    }
}

.carousel-control-next{

    position: absolute;
    display: block;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: unset;
    left: 5%;
    display: inline-flex;
    top: 28%;
    line-height: 6;
    height: 50%;
    background-image: url("../../public/svg/RightArrow.svg");
    background-repeat: no-repeat ;
    background-position-y: 50%;
    background-position-x: 62%;
    background-size: 40%;
    width: 3em;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    z-index: 0;
}

.UltimateView{
    background-image: url("../../public/images/B400_Edit_Vw.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 100% 100%;
    width: 100%;
    height: 71vh;
    margin: 0 auto;
    display: block;
    max-height: 100%;
    min-height: 20rem;
    text-align: center;
    h1{
        font-size: .9rem;
        line-height: 3;
    }

}

.FeaturePhone{
    width: 100%;
    display: block;
    height: 10vh;
    background: #E6E6E6;
    margin-right: 0;
    margin-left: 0;
    max-height: 85px;
    .priceIcon{
        background-image: url('../../public/svg/Money.svg');
        background-repeat: no-repeat;
        background-position-y: 22%;
        background-position-x: 99%;
        background-size: contain;
        float: right;
        display: block;
        width: 49px;
       // height: 150px;
        text-align: center;
        height: 100%;
    }

        .FeatureDetail{
            .price{

                float: right;
                display: block;
                width: 50px;
                //    line-height: 2;
                padding-right: 0;
                font-size: 15px;
                color: #6f706f;
                padding-left: 0;
                margin-top: 12px;

                height: 2.7em;
                // height: 100%;
                &:before{
                    //padding: 5px;
                }
            }
            display: inline-block;
            width: 50%;
            line-height: 2;
            padding-left: 20px;
            font-size: 14px;
            font-weight: 700;
            /* height: 100%; */
            color: #6f706f;
            padding-right: 0;
            margin-top: 12px;
        + &.GreyText{
            font-size: 14px;
        }
    }
    .fa-dollar{
      //  float: right;
        display: inline;
        padding-right: 0;
        padding-left: 0;
    }
}

.DocxDetails{

        .Rightclm{
            .Box{

                    span{
                        display: block;
                        font-weight: 700;
                        text-align: left;
                     //   margin-top: 10px;
                     //   margin-bottom: 10px;


                        &:nth-child(2){
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                        }
                        &:nth-child(3){
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                        }
                        &:nth-child(4){
                            display: block;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                        }
                        &:nth-child(5){
                            display: block;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                        }
                    }
            }
            .Performance{
                  border-top: 1px solid rgba(163, 163, 163, 0.75);
                  margin-top: 10px;
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
               //     margin-top: 10px;
               //     margin-bottom: 10px;
                    color: black;


                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                }
            }
            .Design{
                border-top: 1px solid rgba(163, 163, 163, 0.75);
                margin-top: 10px;
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    //margin-top: 10px;
                    //margin-bottom: 10px;
                    color: #000;

                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                }

            }
            .Battry{
                border-top: 1px solid rgba(163, 163, 163, 0.75);
                margin-top: 10px;
                span {
                    color: black;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    //margin-top: 10px;
                    //margin-bottom: 10px;

                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                }
            }
            .Display{

                border-top: 1px solid rgba(163, 163, 163, 0.75);
                margin-top: 10px;
                span{
                    color: black;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    //margin-top: 10px;
                    //margin-bottom: 10px;

                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                }
            }
            .Camera{
                border-top: 1px solid rgba(163, 163, 163, 0.75);
                margin-top: 10px;
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    //margin-top: 10px;
                    //margin-bottom: 10px;


                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                }
            }
            .Networks{
                border-top: 1px solid rgba(163, 163, 163, 0.75);
                margin-top: 10px;
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;



                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                        margin-top: 10px;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .Leftclm{
                padding-left:0 ;
                padding-right: 0;
                margin-right: 0;
                margin-left: 0;
            .DetailSvg {
                width: 100%;
                height: 100px;
                display: flex;
                padding-right: 0;
                padding-left: 0;
                margin-right: 0;
                margin-left: 0;
                flex: 0 0 18%;
                justify-content: space-evenly;
                 .column{
                     height: auto;
                     text-align: center;
                 }
                .text{
                    color: grey;
                    display: block;
                    font-size: 13px;
                    width: 60px;
                    height: 50px;
                    .strong{
                        font-weight: 600;
                    }
                    .em{
                        font-style:normal ;
                        font-size: 9px;
                    }
                }
                .simcard {

                    background-image: url('../../public/svg/Sim Card.svg');
                    width: 100%;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 71%;
                    padding-right: 0;
                    padding-left: 0;
                    background-position-y: center;
                    display: block;
                    max-width: 100%;
                    text-align: center;

                }
                .display{

                    background-image: url('../../public/svg/Display.svg');
                    width: 100%;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 60%;
                    padding-right: 0;
                    padding-left: 0;
                    background-position-y: center;
                    display: block;
                    max-width: 100%;
                    text-align: center;
                }
                .camera{

                    background-image: url('../../public/svg/Camera.svg');
                    width: 100%;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 100%;
                    padding-right: 0;
                    padding-left: 0;
                    background-position-y: center;
                    display: block;
                    max-width: 100%;
                    text-align: center;
                }
                .Memory{
                    background-image: url('../../public/svg/Memory.svg');
                    width: 100%;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 80%;
                    padding-right: 0;
                    padding-left: 0;
                    background-position-y: center;
                    display: block;
                    max-width: 100%;
                    text-align: center;
                }
                .radio{

                    background-image: url('../../public/svg/Radio.svg');
                    width: 100%;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 100%;
                    padding-right: 0;
                    padding-left: 0;
                    background-position-y: center;
                    display: block;
                    max-width: 100%;
                    text-align: center;
                }
                .battery{

                    background-image: url('../../public/svg/Battery.svg');
                    width: 100%;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 60%;
                    padding-right: 0;
                    padding-left: 0;
                    background-position-y: center;
                    display: block;
                    max-width: 100%;
                    text-align: center;
                }
            }

        }
}

.UserGuid{
    flex-flow: column;
    background: #E6E6E6;
   // padding-top: 10px;
    width: 100%;
    height: 35vh;
    margin-left: 0;
    margin-right: 0;
    .GuidBg {
        //background-image: url('../../public/svg/User Guides.svg');
        //background-repeat: no-repeat;
        //background-position-y: top ;
        //background-position-x: center;
        //background-size: 100% 100%;
        display: block;
        width: 100px;
        height: 70px;
        text-align: center;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        max-height: 70px;
        svg{
            width: 100px;
            height: 70px;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;

            margin: 0 auto;
        }
    }
    .GuideText{

        //display: block;
        //width: 100%;
        //margin: 0 auto;
        //text-align: center;
        //margin-bottom: 10px;
        //margin-top: 10px;
        display: inline-block;
        width: 100%;
       //margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
     //   flex-flow: row wrap;
     //   flex-direction: row;
     //   flex-direction: column;
     //   flex: 1 1 50%;
        font-weight: 600;
      // height: 120px;
        max-height: 120px;
        flex: 0 0 0;
    }
    .btn-link{
        display: block;
        width: 140px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
       // margin-top: 10px;
       // flex-flow: row wrap;
       // flex-direction: row;
       // flex-direction: column;
       // flex: 1 1 50%;
        color: red;
        height: 50px;
        max-height: 50px;

    }

}


.RelatedProducs{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    color: #ACADAD;
    background-color: #fafafa;
    height: 48em;
    .csm-header{
        display: block;
        margin: 0 auto;
        padding-top: 35px;
        width: 100%;
        text-align: center;
        color: #000;
    }
        .GuidBg {
        //background-image: url('../../public/svg/B100_1.svg');
        //background-repeat: no-repeat;
        //background-position-y: center;
        //background-position-x: center;
        //background-size: 95%  95%;
        display: block;
        width: 100%;
        height: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .GuideText{
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .btn-link{
        color: red;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.Rightclm {
    float: right;
}
.Leftclm{
    float: left;
}
//For Sizes Above 47em 768px
@media screen and (min-width: 47em) {
        .FeaturePhone{
                .priceIcon {
                background-image: url('../../public/svg/Money.svg');
                background-repeat: no-repeat;
                background-position-y:center;
                background-position-x: center;
                background-size: contain;
                float: right;
                display: inline-block;
                width: 49px;
             //   height: 150px;
                text-align: center;
                height: 100%;
            }
                .price{
                    padding-top: 0;
                    font-size: 25px;
                    padding-left: 30px;
                    height: calc(100% - 12px);
                    width: 100px;

                }
                .FeatureDetail{
                    padding-top: 0;
                    font-size: 25px;
                    padding-left: 30px;
                    height: calc(100% - 12px);
                }
        }
        .DocxDetails{
            flex-flow: row-reverse;
            padding-right: 0;
            padding-left: 0;
            margin-left: 0;
            margin-right: 0;
            background-color: white;
            display: flex;
            flex-flow: row-reverse wrap-reverse;
            .Rightclm{
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                flex: 0 0 50%;
                .Box , .Performance , Design , Battry, Display, Camera ,Networks {
                    span{
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        text-align: left;
                        color: #000;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    &:nth-child(2){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(3){
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(4){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                    &:nth-child(5){
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                        text-align: left;
                        color: #929392;
                    }
                }
            }
            .Leftclm{
                width: 50%;
                display: flex;
                flex-flow: column;
                flex: 0 0 50%;
                .StraightPitureBig{
                    width: 100%;
                    height: auto;
                    text-align: center;
                    display: block;
                    padding-right: 0;
                    padding-left: 0;
                    margin-right: 0;
                    margin-left: 0;
                        flex: 0 0 24%;
                    padding-top: 15px;
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 180px;
                    }
                }
                .Sidewayright {
                    padding-right: 0;
                    padding-left: 0;
                    margin-right: 0;
                    margin-left: 0;
                    flex: 0 0 18%;
                    text-align: center;
                    padding-top: 20px;
                    img{
                        display: block;
                      //  margin: 0 auto;
                      ///  width: 50px;
                        text-align: center;
                        display: inline-block;
                        width: 15%;
                    }
                }


                .ButtonHolder{
                    flex:0 0 14%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center ;
                    align-content: center;
                    align-items: center;

                    .styled-checkbox-black{
                        display: none;
                        width: 4%;
                        height: 9%;
                        border-radius: 70px;
                        position: absolute;

                        & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                            width: 30px;
                            height: 30px;
                            bottom: 1px;
                          //  left: 15%;
                        }
                        & + label:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 30px;
                            height: 30px;
                            background: white;
                            border-radius: 50px;
                            display: block;
                            border: 2px solid gray;
                        }
                        &:hover + label:before {
                            background: #000000;
                        }
                        &:focus + label:before {
                            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                        }
                        // Box checked
                        &:checked + label:before {
                            background: #000000;
                        }

                        // Disabled state label.
                        &:disabled + label {
                            color: #b8b8b8;
                            cursor: auto;
                        }

                        // Disabled box.
                        &:disabled + label:before {
                            box-shadow: none;
                            background: #ddd;
                        }
                        // Checkmark. Could be replaced with an image
                        &:checked + label:after {
                            content: '\2714';
                            position: absolute;
                            left: 4px;
                            top: 2px;

                        }

                    }

                    .styled-checkbox-white{
                        display: none;
                        width: 4%;
                        height: 9%;
                        border-radius: 70px;
                        position: absolute;

                        & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                            width: 30px;
                            height: 30px;
                            bottom: 1px;
                            right: 2%;
                        }
                        & + label:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 30px;
                            height: 30px;
                            background: white;
                            border-radius: 50px;
                            display: block;
                            border: 2px solid gray;
                        }
                        &:hover + label:before {
                            background: #fff;
                        }
                        &:focus + label:before {
                            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                        }
                        // Box checked
                        &:checked + label:before {
                            background: #fff;
                        }

                        // Disabled state label.
                        &:disabled + label {
                            color: #b8b8b8;
                            cursor: auto;
                        }

                        // Disabled box.
                        &:disabled + label:before {
                            box-shadow: none;
                            background: #ddd;
                        }
                        // Checkmark. Could be replaced with an image
                        &:checked + label:after {
                            content: '\2714';

                            position: absolute;
                            left: 4px;
                            top: 2px;

                        }

                    }

                }

            }
        }
.UserGuid{
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
}
.RelatedProducs{
            height: 49em;
            .GuidBg{
                margin-bottom: 15px;
            }
            .GuidText{
                font-weight: 600;
                font-size: 19px;
            }
            .csm-header{
                padding-top: 55px;
                width: 100%;
            }
        }

}

//For Sizes Below 47em 768px
@media screen and (max-width: 47em) {

    .FeaturePhone{
         .priceIcon {
            background-image: url(../../public/svg/Money.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 99%;
            background-size: contain;
            float: right;
            display: inline-block;
            width: 49px;
            height: 100%;
            text-align: center;

        }
        .FeatureDetail{
            padding-left: 0;
            padding-top: 0;

            width: calc(83% - 12px);
            /* line-height: 2.1; */
            line-height: 2.1;
            font-size: 15px;
            height: calc(100% - 12px);


            .price{
                padding-top: 0;
                padding-left: 0;
                line-height: 1;
                font-size: 25px;
                width: 80px;
                height: calc(80% - 12px);

            }
        }
    }


    .DocxDetails{
        flex-flow: row-reverse;
        background-color: white;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-flow: column-reverse wrap-reverse;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        .Rightclm{
                    .Box , .Performance , .Design, .Battry,.Display, .Camera,.Networks {

                        &:nth-child(1){
                            display: block;
                            font-size: 14px;
                            font-weight: 700;
                            text-align: left;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            color: #000;

                        }

                        &:nth-child(2){
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                          //  line-height: 0;

                        }
                        &:nth-child(3){
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                          //  line-height: 0;
                        }
                        &:nth-child(4){
                            display: block;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                           // line-height: 0;
                        }
                        &:nth-child(5){
                            display: block;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: left;
                            color: #929392;
                          //  line-height: 0;
                        }
                    }
        }
        .Leftclm{
            //width: 50%;
            //display: flex;
            //flex-flow: column;
            //flex: 0 0 50%;

                .StraightPitureBig{
                    width: 100%;
                    height: auto;
                    text-align: center;
                    display: block;
                    padding-right: 0;
                    padding-left: 0;
                    margin-right: 0;
                    margin-left: 0;
                 //   flex: 0 0 24%;
                    //margin: 0 auto;
                    padding-top: 15px;
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 180px;
                    }
                }
                .Sidewayright {
                    padding-right: 0;
                    padding-left: 0;
                    margin-right: 0;
                    margin-left: 0;
                   // flex: 0 0 18%;
                    text-align: center;
                    padding-top: 20px;
                    img{
                        display: block;
                        //  margin: 0 auto;
                        ///  width: 50px;
                        text-align: center;
                        display: inline-block;
                        width: 15%;
                        max-width: 100%;
                    }
                }
            .sidewayBack{
                padding-right: 0;
                padding-left: 0;
                margin-right: 0;
                margin-left: 0;
                img{
                    display: block;
                    margin: 0 auto;
                    width: 50px;
                    max-width: 100%;

                }
            }
            .SidewayLeft{
                padding-right: 0;
                padding-left: 0;
                margin-right: 0;
                margin-left: 0;
                img{
                    display: block;
                    margin: 0 auto;
                    width: 50px;
                    max-width: 100%;
                }
            }

                .ButtonHolder{
                    flex:0 0 14%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center ;
                    align-content: center;
                    align-items: center;
                    margin-top: 10px;
                    .styled-checkbox-black{
                        display: none;
                        width: 4%;
                        height: 9%;
                        border-radius: 70px;
                        position: absolute;

                        & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                            width: 30px;
                            height: 30px;
                            bottom: 1px;
                            //  left: 15%;
                        }
                        & + label:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 30px;
                            height: 30px;
                            background: white;
                            border-radius: 50px;
                            display: block;
                            border: 2px solid gray;
                        }
                        &:hover + label:before {
                            background: #000000;
                        }
                        &:focus + label:before {
                            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                        }
                        // Box checked
                        &:checked + label:before {
                            background: #000000;
                        }

                        // Disabled state label.
                        &:disabled + label {
                            color: #b8b8b8;
                            cursor: auto;
                        }

                        // Disabled box.
                        &:disabled + label:before {
                            box-shadow: none;
                            background: #ddd;
                        }
                        // Checkmark. Could be replaced with an image
                        &:checked + label:after {
                            content: '\2714';
                            position: absolute;
                            left: 4px;
                            top: 2px;

                        }

                    }

                    .styled-checkbox-white{
                        display: none;
                        width: 4%;
                        height: 9%;
                        border-radius: 70px;
                        position: absolute;

                        & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                            width: 30px;
                            height: 30px;
                            bottom: 1px;
                            right: 2%;
                        }
                        & + label:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 30px;
                            height: 30px;
                            background: white;
                            border-radius: 50px;
                            display: block;
                            border: 2px solid gray;
                        }
                        &:hover + label:before {
                            background: #fff;
                        }
                        &:focus + label:before {
                            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                        }
                        // Box checked
                        &:checked + label:before {
                            background: #fff;
                        }

                        // Disabled state label.
                        &:disabled + label {
                            color: #b8b8b8;
                            cursor: auto;
                        }

                        // Disabled box.
                        &:disabled + label:before {
                            box-shadow: none;
                            background: #ddd;
                        }
                        // Checkmark. Could be replaced with an image
                        &:checked + label:after {
                            content: '\2714';

                            position: absolute;
                            left: 4px;
                            top: 2px;

                        }

                    }

                }

                .DetailSvg{
                    min-height: 200px;
                    .text{
                        width: 50px;
                        height: 50px;
                    }
                    .column{
                        display: flex;
                        flex-direction: column;
                    }
                }


        }
    }
    .UserGuid{
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }

    .RelatedProducs{
        height: 100%;
        .GuidBg{
            margin-bottom: 15px;
        }
        .GuidText{
            font-weight: 600;
            font-size: 19px;
        }
        .csm-header{
            padding-top: 55px;
            width: 100%;
        }
    }
}
