#firstPage {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;

  .video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;

    .videoText {
      font-size: 40px;
      color: white;
    }

    .videoLink {
      text-decoration: none;
      color: #de0627;
    }
  }

  .seplex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .seplexWaraper {
      background-color: white;
      padding-top: 60px;
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      .seplexContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center bottom !important;
        height: 30vw;
      }

      .seplexLogo {
        display: flex;
        flex-direction: column;
        width: 32%;
        position: absolute;
        top: 60px;

        svg {
          width: 20vw;
          margin-left: 50px;
          height: 5vw;

          .fil0 {
            fill: #de0627;
          }
        }

        .seplexLink {
          text-decoration: none;
          color: #de0627;
          text-align: center;
          width: 20vw;
          margin-left: 50px;
          font-size: 2vw;
        }
      }
    }
  }

  .sellexBotlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .sellexWaraper {
      display: flex;
      justify-content: space-between;

      .sellex {
        background-color: white;
        padding-top: 14vw;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 48.5%;

        .sellexContent {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background-position: center bottom !important;
          height: 30vw;
        }

        .sellexLogo {
          display: flex;
          flex-direction: column;
          width: 100%;
          position: absolute;
          top: 50px;
          align-items: center;

          svg {
            width: 20vw;
            height: 5vw;
            .fil0{
              fill:#96989A;
            }
            .fil1{
              fill:none;
            }
          }

          .sellexLink {
            text-decoration: none;
            color: #de0627;
            text-align: center;
            width: 20vw;
            font-size: 2vw;
          }
        }
      }

      .botlex {
        background-color: white;
        padding-top: 14vw;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 48.5%;

        .botlexContent {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background-position: center bottom !important;
          height: 30vw;
        }

        .botlexLogo {
          display: flex;
          flex-direction: column;
          width: 100%;
          position: absolute;
          top: 50px;
          align-items: center;

          svg {
            width: 20vw;
            height: 5vw;
            .fil0{
              fill:#96989A;
            }
            .fil1{
              fill:none;
            }
          }

          .botlexLink {
            text-decoration: none;
            color: #de0627;
            text-align: center;
            width: 20vw;
            font-size: 2vw;
          }
        }
      }
    }
  }

  .differences {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .differencesWaraper {
      background-color: white;
      padding-top: 60px;
      padding-bottom: 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .differencesTitle {
        text-align: center;
        margin-bottom: 50px;
        font-size: 3vw;
      }

      .differencesContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        > div {
          width: 33%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }

        .d-seplex, .d-sellex, .d-botlex {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          .content {
            .color-gray {
              color: #6b6765;
            }

            .d-seplex-image {
              height: 20vw;
              position: relative;

              img {
                height: 20vw;
              }
            }

            .d-seplex-title {
              display: flex;
              flex-direction: column;
              margin: 2vw 0;

              h2 {
                font-size: 3vw;
              }

              div {
                font-size: 1.5vw;
              }
            }

            .desc {
              font-size: 1.75vw;
              height: 6vw;

              a {
                text-decoration: none;
                color: #de0627;
              }
            }
          }
        }

        .d-botlex {
          .content {
            .d-seplex-image {
              img {
                height: 19vw;
                position: absolute;
                bottom: 0;
              }
            }
          }
        }

      }
    }
  }

  .warranty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 6vw;
    .warrantyWaraper {
      .warrantyContent {
        display: flex;
        height: 20vw;
        align-items: center;
        justify-content: space-around;

        .warrantySection,.SparepartSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 25px;
          .w-desc{
           color: #6b6765;
            font-size: 1.25vw;
          }
          svg {
            width: 6vw;
            .fil0{
              fill: #6b6765;
            }
          }

          h3 {
            font-size: 1.5vw;
            margin-top: 10px;
          }

          a {
            text-decoration: none;
            color: #de0627;
          }
        }
      }
    }
  }
  .feature{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .featureWaraper{
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 60px;
      padding-bottom: 60px;
      .featurePhone{
        background-color: #d6d6d6;
        min-height: 35vh;
        padding: 10px;
        display: flex;
        font-size: 2vw;
        flex: auto;
      }
      .magnetic{
        display: flex;
        justify-content: space-between;
        .headphone {
          background-size: cover!important;
          padding-top: 14vw;
          display: flex;
          flex-direction: column-reverse;
          position: relative;
          width: 48.5%;
          height: 42vw;
        }
        .magneticPic{
          background-size: cover!important;
          //padding-top: 14vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 48.5%;
          height: 42vw;
          .m-p-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3vw;
            .m-title-up{
              color: #ffffff;
              font-size: 2vw;
            }
            .m-title{
              color: #fffdfd;
              font-size: 2.25vw;
              font-weight: bold;
            }
            .m-title-down{
              color: #bec2c5;
              font-size: 1.5vw;
            }
            a{
              text-decoration: none;
              color: #de0627;
              font-size: 1.25vw;
            }
          }
        }
      }
    }
  }
  .camera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .cameraWaraper{
      display: flex;
      background-size: cover!important;
      height: 20vw;
      padding: 5vw 10vw;
      .cameraText{
        font-size: 2.5vw;
        font-weight: 900;
        .t-w{
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #firstPage {
    .video {
      height: 70vh;
    }

    .seplex {
      .seplexWaraper {
        padding-top: 30px;

        .seplexLogo {
          position: unset;
          width: 100%;
          margin-bottom: 10px;

          svg {
            width: 100%;
            margin-left: 0;
            height: 5vw;
          }

          .seplexLink {
            width: 100%;
            margin-left: 0;
            font-size: 2vw;
          }

        }
      }
    }

    .sellexBotlex {
      .sellexWaraper {
        flex-direction: column;
        align-items: center;

        .sellex {
          width: 80%;

          .sellexContent {
            margin-top: 40px;
          }
        }

        .botlex {
          width: 80%;
          margin-top: 20px;

          .botlexContent {
            margin-top: 40px;
          }
        }
      }
    }
    .warranty {
      .warrantyWaraper {
        .warrantyContent {
          .warrantySection,.SparepartSection {
            .w-desc{
              font-size: 15px;
            }
            svg {
              width: 7vw;
            }
            h3 {
              font-size: 17px;
            }

          }
        }
      }
    }
    .feature{
      .featureWaraper{
        .featurePhone{
          min-height: 25vw;
          font-size: 3vw;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  #firstPage {
    .warranty {
      .warrantyWaraper {
        .warrantyContent {
          justify-content: center;
          flex-direction: column;
          height: 80vw;
          .warrantySection,.SparepartSection {
            .w-desc{
              font-size: 15px;
            }
            svg {
              width: unset;
            }
            h3 {
              font-size: 17px;
            }

          }
          .warrantySection{
            margin-bottom: 35px;
          }
        }
      }
    }
    .feature{
      .featureWaraper{
        .magnetic{
          flex-direction: column;
          align-items: center;
          .magneticPic{
            margin-bottom: 20px;
            .m-p-content{
              margin-top: 1vw;
              .m-title-up{
                font-size: 2.75vw;
              }
              .m-title{
                font-size: 3vw;
              }
              .m-title-down{
                font-size: 2vw;
              }
              a{
                font-size: 2vw;
                margin-top: 0.25rem !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  #firstPage {
    .warranty {
      .warrantyWaraper {
        .warrantyContent {
          height: 95vw;
          .warrantySection,.SparepartSection {
            .w-desc{
              font-size: 14px;
            }
            svg {
              width: 9vw;
            }
            h3 {
              font-size: 15px;
            }

          }
        }
      }
    }
  }
}