//animations
@keyframes searchResults-show {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease
  }
  100% {
    opacity: 1
  }
}

@keyframes searchForm-slide {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.12, 0.87, 0.15, 1);
    animation-timing-function: cubic-bezier(0.12, 0.87, 0.15, 1)
  }
  //30% {
  //  opacity: 0.5;
  //}
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes searchShow {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1);
    animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1)
  }
  40% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7)
  }
}

@-webkit-keyframes searchHide {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7)
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1);
    animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1)
  }
}


.container-fluid {
  svg.search {
    .fil0 {
      fill: #FEFEFE;
      fill-rule: nonzero
    }
  }

  button {
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:focus {
      outline: none !important;
    }
  }

  .header {
    nav.navbar {
      z-index: 2;
      background-color: #050504;
      color: white;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      margin: 0;
      width: 100%;
      //min-width: 1024px;
      height: 55px;
      max-height: 55px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 0;

      .navChild {
        margin: 0 auto;
        max-width: 980px;
        padding: 0 22px;
        position: relative;

        button.navbar-toggler {
          position: relative;
          width: 60px;

          span.navbar-close-icon {
            transition: all .2s;
            width: 10px;
            height: 2px;
            background-color: #AEAEAF;
            display: block;
            position: relative;

            &:last-child {
              top: 5px;
            }

            &:first-child {
              top: -5px;
            }

            &.firstRotate {
              transform: rotate(45deg);
            }

            &.secondRotate {
              transform: rotate(-45deg);
            }
          }
        }

        a.navbar-brand {
          display: flex;
          justify-content: center;
          align-items: center;

          svg.doxLogo {
            .fil1 {
              fill: #ED3237
            }

            .fil2 {
              fill: #FEFEFE;
              fill-rule: nonzero
            }

            .fil0 {
              fill: #ED3237;
              fill-rule: nonzero
            }
          }
        }

        div.navbar-collapse {
          flex-grow: 0 !important;

          ul.navbar-nav {
            cursor: default;
            margin: 0 -10px;
            width: auto;
            height: 55px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            li {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              display: inline-block;
              position: relative;
              height: 55px;
              margin: 0 2vw;
              vertical-align: top;

              a {
                background-size: cover;
                width: max-content;
                line-height: 3.14286;
                font-weight: 400;
                letter-spacing: -.01em;
                color: #f5f5f7;
                position: relative;
                display: inline-block;
                padding: 0 10px;
                height: 55px;
                opacity: .8;
                background: no-repeat;
                text-decoration: none;
                white-space: nowrap;
                -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
                transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
                -webkit-tap-highlight-color: transparent;
                outline-offset: -7px;
              }

              &#navbar-search {
                display: flex;
                justify-content: center !important;
                align-items: center !important;
              }
            }
          }

        }

        aside.searchContent-aside {
          display: none;

          .searchContent {
            position: absolute;
            top: 0;
            left: 26.66667%;
            width: 58.66667%;
            height: calc(100vh - 16px);
            z-index: 3;
            //pointer-events: none;

            .searchInput {
              font-size: 1em;
              font-family: inherit;
              font-weight: inherit;
              line-height: inherit;
              text-align: inherit;

              form {
                height: 55px;
                line-height: 55px;

                div {
                  position: relative;
                  //z-index: 2;

                  #searchInput {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 17px;
                    line-height: 1.29412;
                    letter-spacing: -.021em;
                    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                    color: #fff;
                    outline: none;
                    width: calc(100% - 39px - 38px);
                    height: 55px;
                    position: absolute;
                    padding: 0 38px 0 39px;
                    background-color: transparent;
                    border: none;
                    caret-color: #EC2026;;
                  }

                  button {
                    z-index: 1;
                    left: 0;
                    background-size: 18px 88px;
                    background-repeat: no-repeat;
                    //background-image: url(../images/globalnav/search/image_large.svg);
                    background-position: 10px -55px;
                    //background-repeat: no-repeat;
                    position: absolute;
                    opacity: .8;
                    //z-index: 1;
                    top: 0;
                    width: 38px;
                    height: 55px;
                    cursor: pointer;
                    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
                    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

                    i {
                      color: white;
                    }
                  }
                }

              }
            }

            aside {
              font-size: 14px;
              line-height: 2;
              font-weight: 400;
              letter-spacing: -.016em;
              font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
              /* display: none; */
              background: #fff;
              border-top: none;
              //border-bottom-left-radius: 18px;
              //border-bottom-right-radius: 18px;
              color: #86868b;
              max-height: calc(100% - 55px);
              overflow-x: hidden;
              overflow-y: auto;
              -webkit-overflow-scrolling: touch;
              white-space: nowrap;

              section {
                margin: 0 40px;
                padding: 24px 0 18px;

                div {
                  ul.searchUl {
                    list-style: none;
                    //padding-top: 5px;
                    padding: 5px 0 0 0;

                    li {
                      border-radius: 3px;
                      font-size: 14px;
                      padding: 0 1em;

                      &:hover {
                        background-color: #F9BCBE;
                        color: #EC2026;
                      }
                    }
                  }
                }
              }
            }

          }

          button.closeSearch {
            //color: white;
            right: 16.66667%;
            position: absolute;
            opacity: .8;
            z-index: 4;
            width: 38px;
            height: 55px;
            top: 0;
            color: #86868b;
            cursor: pointer;
            -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            -webkit-tap-highlight-color: transparent;

            svg {
              .fil0 {
                fill: #EA3639;
                fill-rule: nonzero
              }
            }
          }

        }
      }
    }
  }

  #curtain {
    background: rgba(0, 0, 0, 0.48);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .main {
    flex: 1;
  }

  .footer {
    background-color: #F5F7F7;
    display: flex;
    flex-direction: column;
    min-height: 50vh;

    .footerContent {
      flex: 1;
      padding: 4% 15% 0 15%;
      color: #ACADAD;
      font-family: sans-serif;

      h4 {
        font-weight: bold;
      }

      h5 {
        border-bottom: 1px solid #ACADAD;
      }

      p {
        padding: 0;
        margin: 0;

        &:last-of-type {
          border-bottom: 1px solid #ACADAD;

        }
      }

      .flag {
        .fil0 {
          fill: #FEFEFE
        }

        .fil1 {
          fill: #CD3539;
        }

        .fil2 {
          fill: #353E6A;
        }
      }

      .doxLogo {
        fill: #AEAEAF;
      }

      .largeFooter {
        table {
          width: 50%;
          text-align: right;

          td {
            width: 10%;
            padding: 0;
          }

          thead {
            tr:first-child {
              td {
                font-weight: bold;
                padding-bottom: 1em;
              }

            }
          }

          tr, td {
            border: none;
            color: #ACADAD;
          }
        }
      }

      .smallFooter {
        display: none;

        .card {
          border-radius: 0 !important;

          &:first-child {
            border-top: 1px solid #ACADAD;
          }

          border: none;
          border-bottom: 1px solid #ACADAD;
          background-color: transparent;

          .card-header {
            border: none;
            background-color: transparent;

            h2 {
              font-size: 1.2rem;
              color: #48494b;
              //font-weight: bold;
            }
          }

          .card-body {
            display: flex;
            flex-direction: column;
            padding-left: 3rem;

            a {
              color: inherit;
              width: max-content;

              &:hover {
                text-decoration: none;
                cursor: pointer;
              }
            }
          }
        }

      }
    }

    .socialMedia {
      background-color: #050504;
      //width: 99vw;
      height: 4em;
      padding: 0 15% 0 15%;

      .socialIconsSvg {
        margin-right: 1%;

        .fil0 {
          fill: #AEAEAF;
        }
      }
    }
  }

  .searchForm-slide {
    -webkit-animation: searchForm-slide 1s 0.4s both;
    animation: searchForm-slide 1s 0.4s both;
  }

  .searchShow {
    .searchResults {
      -webkit-animation: searchResults-show .2s .2s both;
      animation: searchResults-show .2s .2s both
    }


    li.navLi {
      -webkit-animation: searchShow .4s both;
      animation: searchShow .4s both;

      &:nth-child(1) {
        -webkit-animation-delay: .235s;
        animation-delay: .235s;
      }

      &:nth-child(2) {
        -webkit-animation-delay: .185s;
        animation-delay: .185s
      }

      &:nth-child(3) {
        -webkit-animation-delay: .135s;
        animation-delay: .135s
      }

      &:nth-child(4) {
        -webkit-animation-delay: .085s;
        animation-delay: .085s
      }

      &:nth-child(5) {
        -webkit-animation-delay: .035s;
        animation-delay: .035s
      }
    }
  }

  .searchHide {
    li.navLi {
      -webkit-animation: searchHide .4s both;
      animation: searchHide .4s both;

      &:nth-child(5) {
        -webkit-animation-delay: .235s;
        animation-delay: 0.235s;
      }

      &:nth-child(4) {
        -webkit-animation-delay: .185s;
        animation-delay: .185s
      }

      &:nth-child(3) {
        -webkit-animation-delay: .135s;
        animation-delay: .135s
      }

      &:nth-child(2) {
        -webkit-animation-delay: .085s;
        animation-delay: .085s
      }

      &:nth-child(1) {
        -webkit-animation-delay: .035s;
        animation-delay: .035s
      }
    }
  }

  .searchOpen {
    li.navLi {
      visibility: hidden
    }
  }

}


@media (max-width: 991px) {
  #FAQ {
    .picture {
      div {
        span {
          font-size: 4em !important;
          //&:last-child {
          //  font-size: 1.3em !important;
          //}
        }
      }
    }
  }

  .searchContent-aside {
    display: none !important;
  }
  #curtain {
    display: none !important;
  }
  .smallFooter {
    display: block !important;
  }
  .largeFooter {
    display: none !important;
  }
  .navChild {
    justify-content: space-between !important;
  }
  .navbar-collapse {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    ul {
      height: max-content !important;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 30%;

      li {
        &#navbar-search {
          display: none !important;
        }
      }
    }
  }
}


@media (max-width: 1500px) {
  .table {
    width: 65% !important;
  }
  .searchContent {
    left: 30.66667% !important;
    width: 54.66667% !important;
  }

}


