
#mapLocation{
  font-family: sans-serif;
  background-color: #fff;
  .mapLocation-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    .mapLocation-header-h1{
      font-size: 4rem;
      margin-bottom: 8rem;
      margin-top: 8rem;
      font-weight: 600;
      color: #000;
    }

    .mapLocation-header-searchLocation{
    }
    .mapLocation-header-searchLocation-img{
      margin-bottom: 1.5rem;
      .searchLocationSvg{
        width: 6.9rem;
        height: 6.9rem;
        g{
          .searchLocationPath{
            fill: #6f706f;
          }
        }
      }
    }
    .SearchLocation{
      font-size: 1.9rem;
      font-weight: 100;
      margin-bottom: 1rem;
    }
    .SearchLocationText{
      font-size: 1.4rem;
      font-weight: 100;
      color: rgb(155, 155, 155);
      &:first-of-type{
        margin: 0 auto;
      }
      &:last-of-type{
        margin: 0 auto 3rem auto;
      }
    }
    .mapLocation-header-search{
      width: 48vw;
      border: .13rem solid rgb(170, 170, 170);
      margin: 0 auto;
      .mapLocation-header-searchForm{
        padding: .4rem .4rem .4rem 0;
        display: flex;
        .mapLocation-header-searchForm-search:nth-child(1){
          width:  49px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          .mapLocation-header-searchForm-button{
            background-color: transparent;
            border: none;
            outline: none;
            color: rgb(170, 170, 170);
            font-size: 1.5rem;
            width: 100%;
            padding: 0;
            height: inherit;
            display: flex;
            justify-content: center;
          }
        }

        .mapLocation-header-searchForm-search:nth-child(2){
          display: flex;
          width: 100%;
          height: 30px;
          .mapLocation-header-searchForm-textInput{
            border: none;
            border-left: 3px solid red;
            background-color: transparent;
            width: 100%;
            color: rgb(170, 170, 170);
            padding-left: .63rem;
            &::placeholder{
              color: rgb(170, 170, 170);
            }
            font-size: 1.5rem;
            outline: none;
          }
        }
      }
    }




  }

  .googleMapLocation{
    height: 60vh;
    text-align: center;
    iframe{
      //width: 65%;
      height: 90%;
      width: 70vw;
    }
  }
}

@media screen and (max-width: 1000px){
  #mapLocation{
    .mapLocation-header{

      .mapLocation-header-h1{
        font-size: 3.3rem;
        width: 21rem;
      }


      .mapLocation-header-searchLocation-img{
        .searchLocationSvg{
          width: 5.9rem;
        }
      }
      .SearchLocation{

      }
      .SearchLocationText{
        font-size: 1.2rem;
      }

      .mapLocation-header-search{
        width: 30rem;
        .mapLocation-header-searchForm{
          .mapLocation-header-searchForm-search:nth-child(1){
            width: 3.2rem;
          }
          .mapLocation-header-searchForm-search:nth-child(2){
            .mapLocation-header-searchForm-textInput{
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .googleMapLocation{
      iframe{
        //width: 85%;
        width: 85vw;
      }
    }
  }
}


@media screen and (max-width: 650px){
  #mapLocation{
    .mapLocation-header{
      .mapLocation-header-search{
        width: 25rem;
      }
    }
  }
}

