#PopularTopics{
  background-color: white;
  .PopularTopicsContainer{

    .PopularTitle{

      h3.titlePage{
        padding-top: 18vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        font-size: 1.9vw;
      }
      .topicsSvg{
        margin-top: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          fill: #6F706F;
        }
      }
      .textHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;
      }
      .textContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #908780;
      }
    }
    .AllCollapses{
      padding: 0 0 10% 0;
      .firstCollapse{
        border-top: 1px solid #A9A8A8;
      }
      .lastCollapse{
        border-bottom: 1px solid #A9A8A8;
      }
      .card-body{
        background-color: white;
      }
    }

  }
}