@import "~bootstrap/scss/bootstrap";
@import "PopularTopics";
@import "layout";
@import "FAQ";
@import "home";
@import "touch";
@import "FeaturePhone";
@import "support";
@import "mapLocation";

body {
  background-color: #efeeee;
  .container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    svg.doxLogo {
      width: 4.5em;
      height: 2em;
    }
    .AllCollapses{
      .accordion{
        .card{
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: 1px solid #A9A8A8;
          .card-header{
            background-color: transparent;
            padding: 3% 0 3% 0;
            border: none;
            a.card-title{
              color: #EC2026;
              transition: .3s ease all;
            }
            svg{
              position: absolute;
              right: 0;
              &.delete{
                visibility: visible;
                opacity: 1;
              }
              &.add{
                visibility: hidden;
                opacity: 0;
              }
              .fil0 {fill:#EA3639;fill-rule:nonzero}
            }
            &.collapsed{
              a.card-title {
                color: #A9A9B3;
              }
              svg.add{
                visibility: visible;
                opacity: 1;
              }
              svg.delete{
                visibility: hidden;
                opacity: 0;
              }
            }
          }
        }
      }

      .accordion .card-header:after {
        float: right;
      }

      .accordion .card-header.collapsed:after {
        color: #EC2026;
      }
    }
  }
}
