#support{
  font-family: sans-serif;
  .supportSvg{
    fill: #6F706F;
  }
  .support-header{
    height: 100vh;
    //background: linear-gradient(180deg ,rgba(255, 255, 255,1),transparent, transparent);
    //background-position: 67% 0;
    //background-size: cover;
    position: relative;
    .support-header-h1{
      font-size: 4.5vw;
      font-weight: 600;
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-bottom: 0;
      .support-header-welcomeSupport,
      .support-header-doxTechnology{
        display: block;
        text-align: center;
        color: #000;
      }
      .support-header-doxTechnology{
        line-height: 90px;
      }
    }

    .support-header-search{
      width: 41vw;
      border: 2px solid rgb(170, 170, 170);
      position: absolute;
      top: 79%;
      left: 50%;
      transform: translate(-50%, -50%);
      .support-header-searchForm{
        padding: .4rem .4rem .4rem 0;
        display: flex;
        .support-header-searchForm-container:nth-child(1){
          width:  49px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          .support-header-searchForm-button{
            background-color: transparent;
            border: none;
            outline: none;
            color: rgb(170, 170, 170);
            font-size: 1.5rem;
            width: 100%;
            padding: 0;
            height: inherit;
            display: flex;
            justify-content: center;
          }
        }

        .support-header-searchForm-container:nth-child(2){
          display: flex;
          width: 100%;
          height: 30px;
          .support-header-searchForm-textInput{
            border: none;
            border-left: 3px solid rgb(170, 170, 170);
            background-color: transparent;
            width: 100%;
            color: rgb(170, 170, 170);
            padding-left: .63rem;
            &::placeholder{
              color: #aaaaaa;
            }
            font-size: 1.5rem;
            outline: none;
          }
        }
      }
    }

    .support-header-search-list{
      margin-bottom: 0;
      width: 41vw;
      position: relative;
      top: 81.3%;
      z-index: 1;
      padding: 12px 25px 25px 25px;
      border: 2px solid #aaaaaa;
      border-top: 1px solid #aaaaaa;
      overflow: auto;
      left: 50%;
      transform: translate(-50%, 0);
      visibility: hidden;
      opacity: 0;
      list-style: none;
      li{
        line-height: 23px;
        &:first-child{
          margin-bottom: 5px;
          color: #777;
          font-weight: 600;
        }
      }
    }
    .support-header-search-list-links{
      text-decoration: none;
      color: #aaaaaa;
      transition: all .2s;
      font-size: 14px;
    }
    .support-header-search-list-links{
      &:hover{
        color: red;
      }
    }
  }
  .findAnswer{
    padding: 11.5vw 0 8.5vw 0;;
    background-color: rgb(228, 228, 228);

    .findAnswer-header{
      text-align: center;
      font-size: 3.7vw;
      margin-bottom: 5rem;
      font-weight: 600;
      color: #000;
    }
    .findAnswer-customer{
      display: flex;
      justify-content: space-between;
      width: 84%;
      margin: 0 auto;
      .findAnswer-customer-email,
      .findAnswer-customer-contact,
      .findAnswer-customer-chat{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30.7%;
        height: 18.75rem;
        position: relative;
        &-svg{
          margin-bottom: .7rem;
        }
        .findAnswer-customer-header{
          font-size: 1.75rem;
          margin-bottom: .437rem;
          font-weight: 100;
        }
        .findAnswer-customer-text{
          font-size: 1.2rem;
          text-align: center;
          color: #6b6765;
          margin: 0;
          line-height: 26px;
        }
        .findAnswer-customer-link{
          text-decoration: none;
          color: red;
          font-size: 1.2rem;
          position: absolute;
          bottom: 0;
          line-height: 1;
        }

        &:hover{
          .email-svg,
          .contact-svg,
          .chat-svg{
            g{
              .supportSvg{
                fill: red;
                transition: all .5s;
              }
            }
          }
        }
      }

      .email-svg,
      .contact-svg,
      .chat-svg{
        width: 6.25rem;
        height: 76.61px;
        g{
          .supportSvg{
            transition: all .5s;
          }
        }
      }
      .findAnswer-customer-contact-svg{
        .contact-svg{
          height: 4.7881rem;
        }
      }
      .findAnswer-customer-chat-svg{
        .chat-svg{
          height: 4.7881rem;
        }
      }
    }
  }

  .service{
    padding: 11.5vw 0 8.5vw 0;
    background-color: #fff;
    .service-header{
      text-align: center;
      font-size: 3.7vw;
      margin-bottom: 5rem;
      font-weight: 600;
      color: #000;
    }
    .service-content{
      display: flex;
      justify-content: center;
      .service-content-mainContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        .service-content-mainContent-svg{
          margin-bottom: .7rem;
          .service-svg{
            width: 6.25rem;
            height: 6.25rem;
          }
        }
        .service-content-mainContent-header{
          font-size: 1.77rem;
          font-weight: 100;
        }

        .service-content-mainContent-text{
          font-size: 1.55rem;
          text-align: center;
          color: #6b6765;
          margin-bottom: 2rem;
          width: 28.75rem;
        }


        &:hover{
          .service-content-mainContent-svgLocation{
            .location-svg{
              g{
                .supportSvg{
                  fill: red;
                  transition: all .3s;
                }
              }

            }
            .service-content-mainContent-searchLocation{
              color: #fff;
              border-color: red ;
              background-color: red;
              transition: all .3s;
            }
          }

        }

        .service-content-mainContent-svgLocation{

          .location-svg{
            width: 6.375rem;
            height: 6.375rem;
            display: block;
            margin: 0 auto;
            g{
              .supportSvg{
                transition: all .3s;
              }
            }
          }

          .service-content-mainContent-searchLocation{
            margin-top: 1.6rem;
            text-decoration: none;
            font-size: 1.5rem;
            color: #6b6765;
            border: .0625rem solid #6b6765;
            padding: .625rem;
            border-radius: .32rem;
            display: block;
            transition: all .3s;
          }
        }

      }
    }
  }

  .attitudeSupport{
    .attitudeSupport-backGround{
      height: 90vh;
      //background: linear-gradient(180deg ,rgba(255, 255, 255,1),transparent, transparent);
      //background-position: 35% 0;
      //background-size: cover;

      position: relative;

      .attitudeSupport-header{

        position: absolute;
        top: 49%;
        left: 60%;
        transform: translate(-25%, -50%);
        color: #000;
        .attitudeSupport-header-attitude{
          display: block;
          font-size: 5vw;
          padding: .5rem;
          font-weight: 600;
          &:nth-child(1){
            background-color: red;
            color: rgb(255, 255, 255);
          }
          &:nth-child(3){
            .attitude{
              background-color: red;
              color: #fff;
              padding-left: .5rem;
            }
            .dot{
              padding: 0;
              vertical-align: sub;
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width : 1000px){
  #support{
    .support-header{
      .support-header-h1{
        font-size: 2.812rem;
      }
      .support-header-search{
        width: 25.625rem;
      }


      .support-header-search-list{
        width: 25.625rem;
        padding: 12px 10px 25px 10px;
      }
      .support-header-search-list-links{
        font-size: 12px;
      }
    }


    .findAnswer{
      .findAnswer-header{
        font-size: 37.037px;
      }
      .findAnswer-customer{
        width: 92%;
        .findAnswer-customer-email,
        .findAnswer-customer-contact,
        .findAnswer-customer-chat{
          width: 32%;
          .findAnswer-customer-text{
            font-size: 1rem;
          }
          .findAnswer-customer-link{
            font-size: 1.1rem;
          }
        }
        .findAnswer-customer-contact{
          //margin-left: 1rem;
        }
      }
    }

    .service{
      .service-header{
        font-size: 37.037px;
      }
      .service-content{
        .service-content-mainContent{
          .service-content-mainContent-svg{
            .service-svg{
              width: 5rem;
            }
          }

          .service-content-mainContent-text{
            font-size: 1.25rem;
            width: 22.5rem;
          }
          .service-content-mainContent-svgLocation{
            .location-svg{
              width: 3.7rem;
            }

            .service-content-mainContent-searchLocation{
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width : 800px) {
  #support {

    .findAnswer{

      .findAnswer-customer{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-email,
        &-contact{
          margin-bottom: 3.5rem;
        }

        .findAnswer-customer-email,
        .findAnswer-customer-contact,
        .findAnswer-customer-chat{
          width: 70%;
          .findAnswer-customer-header{

          }
          .findAnswer-customer-text{
            font-size: 1.3rem;
            line-height: 31px;
          }
          .findAnswer-customer-link{
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}


@media screen and (max-width : 650px){
  #support{
    .support-header{
      .support-header-h1{
        font-size: 2.6rem;
      }
      .support-header-search{
        width: 23rem;
      }

      .support-header-search-list{
        width: 23rem;
      }
    }


    .findAnswer{
      .findAnswer-header{
        font-size: 2.1875rem;
      }
    }

    .service{
      .service-header{
        font-size: 2.1875rem;
      }
      .service-content{
        .service-content-mainContent{
          .service-content-mainContent-svg{
            .service-svg{
              width: 5rem;
            }
          }

          .service-content-mainContent-text{
            font-size: 1.22rem;
            width: 22.5rem;
          }

          .service-content-mainContent-svgLocation{
            .location-svg{
              width: 3.5rem;
            }

            .service-content-mainContent-searchLocation{
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .attitudeSupport{
      .attitudeSupport-backGround{
        .attitudeSupport-header{
          left: 59%;
          line-height: 1.55;
          .attitudeSupport-header-attitude{
            font-size: 5.44vw;
          }
        }
      }
    }
  }
}