#touch{
  .bannerTouch{
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 100vh;
    background-position: center top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    .bannerTitle{
      position: absolute;
      font-size: 4vw;
      font-weight: bold;
      transform: translate(50%,50%);
      top: 60%;
      left: 30%;
      text-align: center;
    }
    .bannerText{
      position: absolute;
      font-size: 2vw;
      transform: translate(50%,50%);
      top: 70%;
      left: 2%;
      text-align: center;
    }
  }
  .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
    height: 60vh;
    .ContactUs{
      h2{
        padding: 7% 0 3% 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 2vw;
        font-weight: bold;
      }
    }
    .Contact{
      display: flex;
      justify-content: center;
      padding: 0 10% 0 10%;
      div.col-md-4{
        display: flex;
        justify-content: center;
        .ContactOptions{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .AddressSvg{
            fill: #EB4F54;
            display: flex;
            justify-content: center;
          }
          .ContactSvg{
            fill: #686868;
            display: flex;
            justify-content: center;
          }
          .svgName{
            h5{
              text-align: center;
              font-weight: 500;
              font-size: 1vw;
              padding-top: 6px;
            }
          }
          .ContactDescriptions{
            text-align: center;
            color: #6A757E;
          }
          .contactLink{
            text-align: center;
            a{
              color: #EC2342;
            }
          }
        }
      }
    }
  }
  .callCenter{
    height: 80vh;
    background-color: white;
    .callCenterImg{
      height: 74vh;
      background-repeat: no-repeat !important;
      background-position: center;
      //margin-left: 4%;
    }
    .callCenterText{
      padding: 5%;
      span{
        font-size: 2.4vw;
      }
      .Line1{
        word-spacing: 1.2vw;
        span{
          font-size: 3vw;
          font-weight: 800;
        }
      }
      .Line2{
        word-spacing: 1vw;
      }
      .Line3{
        word-spacing: 1vw;
        span{
          font-size: 2.1vw;
        }
      }
      .line4{
        span{
          font-size: 2.1vw;
        }
      }
      .line5{
        padding-bottom: 5%;
        border-bottom: 1px solid #7D7E7C;
        span{
          font-size: 2.1vw;
        }
      }
      p{
        word-spacing: 0.5vw;
        padding-top: 5%;
        color: #686868;
        font-size: 1.5vw;
      }
    }
  }
  .OnlineHelp{
    background-color: white;
    h3.titleHelp{
      padding-top: 18vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 700;
      font-size: 2vw;
    }
    .ContactSvg{
      margin-top: 4%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        fill: #686868;
      }
    }
    .svgHeader{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 600;
      font-size: 1.3rem;
      padding-top: 3px;
    }
    .textContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #9C9C9C;
    }
  }
  .ContactForm{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    background-color: white;
    form{
      width: 40%;
      input{
        margin-bottom: 5%;
        color: #AEB2B3;
        &:focus{
          border: 2px solid #F25A5E;
          box-shadow: none;
        }
      }
      textarea{

        &:focus{
          border: 2px solid #F25A5E;
          box-shadow: none;
        }
      }
      .submitBtn{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        button{
          border: 1px solid #B6B5B6;
        }
      }
    }
  }
  .location{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }
}